body {
    height: 100%;
    background-color: 9DBFAF;
}

#menu {
    width: 100%;
    height: 41px;
    margin: 55px 0 0 26px;
    background: url(images/menu_bg.jpg) no-repeat center;
}

#menu ul {
    display: block;
    list-style: none;
    padding: 9px 0 0 10px;
    margin: 0px;
}

#menu ul li {
    display: inline;
    padding: 0px;
    margin: 0px;
}

#menu ul li a {
    height: 27px;
    display: block;
    padding: 0px 10px 0 10px;
    margin: 0 4px 0 4px;
    _margin: 0 2px 0 2px;
    float: left;
    text-decoration: none;
    text-align: center;
    color: #00B4CC;
    font-size: 17px;
    line-height: 27px;
}

#menu ul li.selected a {
    height: 27px;
    display: block;
    padding: 0px 10px 0 10px;
    margin: 0 5px 0 5px;
    float: left;
    text-decoration: none;
    text-align: center;
    color: red;
    font-size: 17px;
    line-height: 27px;
    background: url(images/menu_bt_bg.gif) repeat-x center;
}

a {
    color: red;
    font-size: 2em;
}